/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  align-items: center; /* Added to vertically center the content */
  gap: 2rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 600px;
  width: 600px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
  transform: translateY(-1.5rem); /* Reduced upward shift to better center with the image */
}

.section__text p {
  font-weight: 600;
  color: var(--text-color-secondary);
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: var(--text-color);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

#socials-container img {
  filter: var(--icon-filter);
  transition: filter 0.3s ease;
  /* These are icons, not content images */
}